/*****************************************************************************
  bourbon test
******************************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*****************************************************************************
  Variables
******************************************************************************/
/*****************************************************************************
  Base Styles
******************************************************************************/
.transition {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.45s;
  -webkit-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-backface-visibility: hidden; }

/*****************************************************************************
  Layout Styles
******************************************************************************/
/* http://www.smacss.com
/* Layout styles are structural style rules for the bones
/* display, position, margin, overflow, width, height

/*
.constrained {
	max-width: 1080px;
	margin-left:auto;
	margin-right:auto;
}


Using sass  "&" replaces the parent selector, example:

.liststyle {
	
	& > li {}
} /* & = liststyle

*/
/* BEGIN CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET */
/* clearfix */
.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* END clearfix */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  font-family: sans-serif; }

#container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #container:after {
    content: "";
    display: table;
    clear: both; }

h1, h2 {
  font-family: sans-serif; }

h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #888888; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 30px 0 20px 0;
  margin-bottom: 40px; }
  header:last-child {
    margin-right: 0; }

.logo {
  font-size: 1.8em;
  float: left; }

nav ul {
  float: right;
  padding-top: 5px; }

nav li {
  display: block;
  float: left;
  margin-right: 20px; }

nav a {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px; }

nav a:hover {
  border: 1px dotted #00B233; }

#focus {
  padding: 70px 2em 0 2em; }

#focus h1 {
  font-size: 1.3em; }

.right-section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  float: right;
  clear: right; }
  .right-section:last-child {
    margin-right: 0; }

.left-section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  float: left; }
  .left-section:last-child {
    margin-right: 0; }

article {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 100%;
  float: left;
  margin-bottom: 1em; }
  article:last-child {
    margin-right: 0; }

article h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
  padding-top: 5px;
  border: 0; }

article a {
  color: #999;
  text-decoration: none; }

article a:hover {
  color: #fff; }

figure {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  float: left; }
  figure:last-child {
    margin-right: 0; }

figure a {
  display: table;
  border: 1px solid #888888; }

figure img {
  float: left;
  opacity: 0.6;
  max-width: 100%;
  height: auto; }

figure img:hover {
  opacity: 1; }

figure h3 {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 100%;
  border-top: 1px solid #888888;
  clear: left;
  float: left;
  background-color: #ccc;
  padding: 5px;
  text-align: center; }
  figure h3:last-child {
    margin-right: 0; }

.desc {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%; }
  .desc:last-child {
    margin-right: 0; }

#contact {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-bottom: 20px; }
  #contact:last-child {
    margin-right: 0; }

#contact form {
  float: left;
  width: 50%;
  background-color: #ccc; }

#contact form textarea {
  width: 100%;
  height: 4rem; }

.social-section {
  clear: right;
  float: right; }

.social {
  float: right;
  margin-right: 5px;
  background-color: #ccc;
  border-bottom: 0;
  border-radius: 50%;
  padding: 10px; }

.social:hover {
  background-color: green;
  cursor: pointer; }

footer {
  clear: both;
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid #888888; }
