/*****************************************************************************
  bourbon test
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';


/*****************************************************************************
  Variables
******************************************************************************/

$section-border: 1px solid #888;
$img-border: 1px solid #888;

/*****************************************************************************
  Base Styles
******************************************************************************/

.transition {
	-moz-transition-property: all;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.45s;
	-webkit-transition-duration: 0.45s;
	-o-transition-duration: 0.45s;
	transition-duration: 0.45s;
	-webkit-backface-visibility: hidden;	
}

/*****************************************************************************
  Layout Styles
******************************************************************************/
/* http://www.smacss.com
/* Layout styles are structural style rules for the bones
/* display, position, margin, overflow, width, height

/*
.constrained {
	max-width: 1080px;
	margin-left:auto;
	margin-right:auto;
}


Using sass  "&" replaces the parent selector, example:

.liststyle {
	
	& > li {}
} /* & = liststyle

*/

/* BEGIN CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

/* clearfix */
.cf:before,
.cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}
/* END clearfix */

* { 
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html { height:100%; min-height: 100%; }

body { height:100%; font-family: sans-serif;
background: #d4e4ef; /* Old browsers */
background: -moz-linear-gradient(top,  #d4e4ef 0%, #86aecc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4e4ef), color-stop(100%,#86aecc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d4e4ef 0%,#86aecc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d4e4ef 0%,#86aecc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d4e4ef 0%,#86aecc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d4e4ef 0%,#86aecc 100%); /* W3C */

}

#container { @include outer-container; }


h1, h2 { font-family: sans-serif; }

h2 { font-size:1.2em; margin-bottom:20px; padding-bottom:10px; border-bottom:$section-border; }

header {
	@include span-columns(12);
	padding:30px 0 20px 0; 
	margin-bottom:40px; 
	overflow: auto; }

.logo { float:left; }
header h1 { font-size:2em; }

nav { }
nav ul { float:right; padding-top:5px; }
nav li { display:block; float:left; margin-right:20px; }
nav a { text-decoration: none; border: 1px solid rgba(0,0,0,0); padding:5px; }
nav a:hover { border:1px dotted #00B233; }

#focus { padding:70px 2em 0 2em;}

section {
	
}
.right-section { 
	@include span-columns(3);
	float:right;
	clear:right;
}
.left-section {
	@include span-columns(8);
	float:left;
}

article { 
	@include span-columns(8 of 8);
	float:left;
	margin-bottom: 1em;
}
article h2 { font-size: 1.2em; margin-bottom:1em; padding-top:5px; border:0; }
article a { color: #999; text-decoration: none; }
article a:hover { 
	color:#fff;
}

figure { 
	@include span-columns(4 of 8);
	float: left; 
}
figure a { 
	display:table; 
	border:$img-border;
}
figure img { 
	float:left; 
	opacity:0.6; 
	max-width:100%;
	height:auto;
}
figure img:hover {
	opacity:1; 
}
figure h3 {
	@include span-columns(4 of 4);
	border-top:$img-border; 
	clear:left; 
	float: left; 
	background-color:#ccc; 
	padding:5px; 
	text-align: center;
}

.desc {
	@include span-columns(4 of 8);
}


#contact { padding-bottom:20px; overflow: auto;}
#contact form {float:left; width:50%; background-color:#ccc;}
#contact form textarea {width:100%; height:4rem;}
.social-section { clear:right; float:right;}
.social { float:right; margin-right:5px; background-color:#ccc; border-bottom:0; border-radius: 50%; padding:10px;}
.social:hover { background-color:green; cursor:pointer;	}

footer { clear:both; margin-top:50px; padding:20px 0; border-top:$section-border; }




