@import 'nav';

/*   SASS Practice */

$variable-name: #bf637d;
$font-stack: Helvetica, Arial, sans-serif;


@mixin box-sizing($boxstyle) {
	-webkit-box-sizing: $boxstyle;
	-moz-box-sizing: $boxstyle;
	box-sizing: $boxstyle;
}


.selected {
	border:1px solid red;
}

a {
	@extend .selected;
	color:$variable-name;
}





body {
	font-family: $font-stack;

	@include box-sizing(border-box);
}
